{% extends "main/base.html.twig" %}

{% block body %}
	<!-- Imagen logo Talleres Viñes -->
	<img
	src="./img/logo.png" id="logoPrinc" class="rounded mx-auto d-block" alt="logo">
	<!-- menu de navegacion general -->
	<nav class="nav justify-content-center bg-dark">
		<a class="nav-link active" href="/inicio">
			<button class="btn btn-outline-secundary text-white" type="button">Inicio</button>
		</a>
		<a class="nav-link" href="/servicios">
			<button class="btn btn-outline-secundary text-white" type="button">Servicios</button>
		</a>
		{% if app.session.get('nombre') == "" %}
			<a class="nav-link" href="/registro">
				<button class="btn btn-outline-secundary text-white" type="button">Hazte miembro</button>
			</a>
		{% endif %}
		{% if app.session.get('nombre') != "" %}
			<a class="nav-link" href="/pagCuenta">
				<button class="btn btn-outline-secundary text-white" type="button">Hola,
					{{ app.session.get('nombre') }}</button>
			</a>
		{% endif %}
	</nav>

	<!-- Contenido de cada pagina -->
	{% block contenido %}{% endblock %}

	<!-- Footer -->
	<footer id="footerPrinc" class="page-footer font-small teal pt-4 bg-dark">
		<div class="container-fluid text-center text-md-left">
			<div class="row">
				<div class="col-md-12 mt-md-0 mt-3 text-center">
					<h5 class="text-uppercase font-weight-bold">Talleres Viñes SL</h5>
					<p>Somos un taller de coches compuesto por profesionales que llevan haciendo su trabajo desde 1988,</br>
						carecterizados por su eficacia, su gran atencion al cliente y su profesionalidad.</p>
				</div>
		<div class="footer-copyright text-center col-md-12 mb-3">© 2020 Copyright:
			<a href="https://talleresvinyes.com/" style="color:grey !important;">
				talleresvinyes.com</a>
		</div>
	</footer>
{% endblock %}
