<form method="post" action="{{ path('reparaciones_delete', {'id': reparacione.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reparacione.id) }}">
    <button class="btn btn-danger" style="margin-left:3%;margin-top:1%;">Eliminar</button>
</form>
