{% extends "dashboard/layout.html.twig" %}
{% block contenido %}
    <h1>Editar Reparaciones</h1>

    {{ include('reparaciones/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-dark" style="margin-left:3%;" href="{{ path('reparaciones_index') }}">Volver a la lista</a>

    {{ include('reparaciones/_delete_form.html.twig') }}
{% endblock %}
