{% extends "dashboard/layout.html.twig" %}
{% block contenido %}
    <h1>Create new Reparaciones</h1>

    {{ include('reparaciones/_form.html.twig') }}

    <a href="{{ path('reparaciones_index') }}">back to list</a>
{% endblock %}
