{% extends "dashboard/layout.html.twig" %}
{% block contenido %}
    <h1>Crear nueva reparacion</h1>

    {{ include('reparaciones/_form.html.twig') }}

    <a class="btn btn-dark" href="{{ path('reparaciones_index') }}">Volver a la lista</a>
{% endblock %}
