{% extends "dashboard/layout.html.twig" %}
{% block contenido %}
    <h1>Edit Coches</h1>

    {{ include('coches/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('coches_index') }}">back to list</a>

    {{ include('coches/_delete_form.html.twig') }}
{% endblock %}
