{% extends "dashboard/layout.html.twig" %}
{% block contenido %}
	<h1 id="principal">Panel de control</h1>
	<p>Este es el panel de control! Aqui tienes toda la informacion.
		<br>
		Selecciona que quiere hacer en una de las secciones de la izquierda.</p>
{% endblock %}
