{% extends "dashboard/base.html.twig" %}

{% block body %}
	<nav class="menu" tabindex="0">
		<div class="smartphone-menu-trigger"></div>
		<header class="avatar">
			<img src="https://img2.freepng.es/20180721/tjc/kisspng-user-silhouette-simplicity-vector-5b52f75ce256e3.9791746015321639329271.jpg"/>
		</br>
	</br>
	Bienvenido,
	<h4>
		{{ app.session.get('nombre') }}
	</h4>
</header>
<ul>
	<a class="btn" href="{{ path('user_index')}}">
		<li tabindex="0" class="icon-users">
			<span style="color:white !important;">Clientes</span>
		</li>
	</a>
	<a class="btn" href="{{ path('coches_index')}}">
		<li tabindex="0" class="icon-dashboard">
			<span style="color:white !important;">Coches</span>
		</li>
	</ul>
	<a class="btn btn-warning" href="{{ path('cuenta')}}" id="botonSalir">Salir del panel de control</a>
</nav>
<main>
	{% block contenido %}{% endblock %}
</main>{% endblock %}
