{% extends "dashboard/layout.html.twig" %}
{% block contenido %}
    <h1>Editar Usuario</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}" class="btn btn-dark" style="margin-left:3%;">Volver a la lista</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
